<div class="row">
 <img 
    src="https://palavramoderna.com.br/wp-content/uploads/2021/08/WhatsApp-Image-2021-08-01-at-02.36.29.jpeg" 
    class="img-fluid mb-3" 
    alt="..."
  >
</div>

<button type="button" class="btn btn-primary">Primary</button>
